@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto3&display=swap');

.App {
  min-height: 100vh;
  min-width: 1020px;
  background-color: #323428;
  font-family: 'Roboto', sans-serif;
  color: white;
}
/* Header */
.title {
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 5%;
  padding-right: 10%;
}
.search {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  outline: none;
  border: none;
  display: flex;
}
.searchInput {
  margin-left: 5%;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  width: 80%;
}
.searchButton {
  background: none;
  border: none;
  outline: none;
  margin-right: 5%;
}
.magIcon {
  font-size: 1.1rem;
}
.magIcon:hover{
  cursor: pointer;
}
/* Main */
.stocksContainer {
  display: flex;
}
.stocksInfo {
  margin-left: 40px;
  width: calc(100% - 220px);
}
.colorpicker {
  color: rgb(17, 207, 99);
}